h1{
    text-align: center;
}

/* Main */
.main-photo {
  margin: 0;
  background-color: rgb(43, 16, 16);
  background-position: center;
  background-image: url("/pics/students.png"); 
  background-size: cover;
  background-repeat: no-repeat;
  height: 90vh;
}

/* Header */

#header{
    background-color:rgb(248, 115, 6);
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'helvetica', Courier, monospace;
    font-weight: bold;
  } 
  
  #header > a{
    text-decoration: none;
    margin: 0 20px;
    padding: 10px;
    color: black;
    font-weight: bold;
    font-size: 20px;
    vertical-align: middle;
    font-family: ReggaeOne;
    display: inline-block;
  }
  
  nav {
    float: center;
    font-size: 20px;
  }
  
  #header ul > li {
    display: inline-block;
    padding: 0 20px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background:rgb(59, 43, 43);
    border-radius: 5px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  li a, .dropbtn {
    display: inline-block;
    padding: 14px 16px;
    text-align: center;
    color: black;
    text-decoration: none;
  }
  
  li a:hover, .menu:hover .dropbtn {
    color: black;
    background-color:lightgray;
    border-radius: 20px;
  }
  
  /* Footer */

.footer-content{
  font-family: 'Helvetica', Courier, monospace;
  text-align:center;
  background-color: rgb(248, 115, 6);
  color: black;
}

.footer-child {
  display: inline-block;
  padding: 5px 80px;
  font-size: 35px;  
}

.footer-child div{
  font-size: 18px;
}

.footer-child a{
  text-decoration: none;
  color: black;
  font-family: ReggaeOne;
}

hr{
  height: 1px;
  background-color: white;
  border:none;
}

.footer-child > a > img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.footer-child > a > img:hover{
  background: lightgray;
}

  /*(HUSK Å FORANDRE ABSOLUTT ALT DET OVER OG KREDITERE OBLIG 1)*/
  /* The code over is reused from our earlier assignment (Oblig 1 in Web, Group 56), 
    with some slight changes: 
    OsloMet, DATA1200-1 21H Webutvikling og inkluderende design, Assignments, Oblig 1: Simple page */

    /*
    *{
      box-sizing: border-box;
      text-decoration: none;
  }
  
  body {
      max-width: 599px;
      background-color: lightgoldenrodyellow;  
      font-family: monospace;
  }
  
  header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 90%;
      background-color: whitesmoke;
      margin: auto;
  }
  
  main {
      width: 90%;
      margin: auto;
  }
  
   dropdown navigation 
    
  .dropdown {
      background: darkorange;
      list-style: none;
      margin-top: 5px;
      padding-left: 0;    
      visibility: hidden;
      opacity: 0;
      min-width: 5rem;
      position: absolute;
      transition: all 0.5s ease;
      left: 0;
      display: none;
  }
  
  .dropdown-container {
      position: relative;
  }
  
  .dropdown-button,
  .dropdown a {
      color: black;
      background: darkorange;
      padding: 1rem;
      display: flex;
      border: none;
      transition-duration: 0.5s;
  }
  
  .dropdown-button:hover,
  .dropdown-button:focus-within,
  .dropdown a:hover,
  .dropdown a:focus-within {
      background: red;
      cursor: pointer;
  }
  
  .dropdown-button:focus-within,
  .dropdown a:focus-within {
      outline: none;
  }
    
  .dropdown-container:hover > .dropdown,
  .dropdown-container:focus-within > .dropdown{
      visibility: visible;
      opacity: 1;
      display: block
  }
  
/*  
    