/* Main */
* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

h1{
  text-align: center;
  margin-top: 1%;
  margin-bottom: 1%;
}

a {
text-decoration: none;
color: black;
}

p{
  margin-top: 10px;
}

body {
  font-size: 16px;
}

.p-introduction {
  margin-left: 1%;
  font-style: italic;
}

.main-photo {
  margin: 0;
  background-position: center;
  background-image: url("/pics/students.png"); 
  background-size: cover;
  background-repeat: no-repeat;
  height: 90vh;
}

.flex-container {
  display: flex;
}

.flex-container > div {
  background-color: transparent;
  margin: 10px;
  padding: 20px;
  font-size: 16px;
  line-height: 1.5;
}

/* Menu code courtesy of https://www.w3schools.com/css/tryit.asp?filename=trycss3_flexbox */

/*
.picture-box{
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  font-size: 20px;
  padding-right: 20px;
}
*/

.image{
  content: url("../htmlcss/images/smile.jpg");
  height: 200px;
  width: 200px;
  margin-bottom: 5%;
}



/* Header */

#header {
    background-color:rgb(248, 115, 6);
    display: flex;
    padding: 20px 50px;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 24px;
  }

.list {
    margin: 0;
    display: flex ;
    color: black;    
}

.list li {
  padding: 15px;
  margin-left: 20px;
  margin-right: 0;
}
 
.list li:hover {
    color: black;
    background-color:lightgray;
    border-radius: 20px;
}
  
  /* Footer */

.footer-content{
  text-align:center;
  background-color: rgb(248, 115, 6);
  color: black;
  margin-top: 1.3%;
  font-size: 24px;
  padding: 20px 50px;
}

@media screen and (max-width: 1250px) {
  body {
    font-size: 16px;
  }

  .list {
    font-size: 20px;
  }
}


@media (max-width: 1100px) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}



  /*(HUSK Å FORANDRE ABSOLUTT ALT DET OVER OG KREDITERE OBLIG 1)*/
  /* The code over is reused from our earlier assignment (Oblig 1 in Web, Group 56), 
    with some slight changes: 
    OsloMet, DATA1200-1 21H Webutvikling og inkluderende design, Assignments, Oblig 1: Simple page */

    /*

  
header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 90%;
      background-color: whitesmoke;
      margin: auto;
}
  
  main {
      width: 90%;
      margin: auto;
  }
  
   dropdown navigation 
    
  .dropdown {
      background: darkorange;
      list-style: none;
      margin-top: 5px;
      padding-left: 0;    
      visibility: hidden;
      opacity: 0;
      min-width: 5rem;
      position: absolute;
      transition: all 0.5s ease;
      left: 0;
      display: none;
  }
  
  .dropdown-container {
      position: relative;
  }
  
  .dropdown-button,
  .dropdown a {
      color: black;
      background: darkorange;
      padding: 1rem;
      display: flex;
      border: none;
      transition-duration: 0.5s;
  }
  
  .dropdown-button:hover,
  .dropdown-button:focus-within,
  .dropdown a:hover,
  .dropdown a:focus-within {
      background: red;
      cursor: pointer;
  }
  
  .dropdown-button:focus-within,
  .dropdown a:focus-within {
      outline: none;
  }
    
  .dropdown-container:hover > .dropdown,
  .dropdown-container:focus-within > .dropdown{
      visibility: visible;
      opacity: 1;
      display: block
  }
  
/*  
    