
* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

h1{
  text-align: center;
  margin-top: 1%;
  margin-bottom: 1%;
}

a {
  text-decoration: none;
  color: black;
}

p{
  margin-top: 10px;
}

body {
  font-size: 16px;
}

.p-introduction {
  margin-left: 1%;
  font-style: italic;
}

/* scroll up */

.btn-up {
  position: fixed;
  bottom: 20px;
  right: 10px;
  z-index: 3;
  background-color: black;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.btn-up a {
  color: #fff;
  font-weight: 900;
}

.btn-up:hover {
  background-color: orangered;
}

/* Main - home */

:root {
  --primary: hsla(348, 97%, 63%, 0.65);
  --secondary: hsla(230, 96%, 63%, 0.65);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-photo {
  background-image: linear-gradient(135deg, var(--primary), var(--secondary)), url("images/students.png");
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  position: relative;
  background-size: cover;
}

.section {
  font-size: 40px;
}

/* nasiba */

.background-container {
  background-color: lightgrey;
  border-radius: 0%;
}

.flex-container {
  display: flex;
}

.flex-container > div {
  background-color: transparent;
  padding: 20px;
  font-size: 16px;
  line-height: 1.5;
}

/* Menu code courtesy of https://www.w3schools.com/css/tryit.asp?filename=trycss3_flexbox */

/* Header */

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(248, 115, 6);  
  font-size: 18px;
  padding: 15px 20px ;
}

.logo{
  padding-right: 55px;
  font-size: 40px;
  font-style: oblique;
  font-weight: bolder;
}

nav label, 
nav input { 
  display: none; 
}

.menu { 
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu a {
  display: flex;   
  border: none;
  text-decoration: none;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding: 1.5rem;    
}

.menu a:hover { 
  background-color: red;
}

  /* Footer */

.footer-content{
  text-align:center;
  background-color: rgb(248, 115, 6);
  color: black;
  font-size: 24px;
  padding: 20px 50px;
}

/* desktop screen */
@media screen and (max-width: 1360px) {
  body {
    font-size: 20px;
  }

  #header {
    font-size: 15px;
  }
}

/* tablet screen */

@media screen and (max-width: 1190px) {
  .menu a {
    background-color: rgb(224, 130, 52);
    box-sizing: border-box;
    padding: 20px;
  }

  nav label {
    display: inline-block;
    color: #fff;
    background-color: #8a0000;
    font-size: 2rem;
    font-style: normal;
    padding: 2px 12px 7px 12px;
  }

  nav label:hover {
    background-color: orangered;
  }

  .menu {
    display: none;
    position: absolute;
    margin-top: 15px;
    margin-right: 20px;
    right: 0;
    width: 250px;
    z-index: 1;
  }

  nav input:checked ~ .menu {
    display: block;
  }

  nav label:hover,
  nav label:focus-within {
    background: red;
    cursor: pointer;
  }
}

    